<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <Title>Lab 6.5 - Merge k arrays</Title>
      <Shortcut>alg_pq_merge_65</Shortcut>
      <Description>Scalanie k posortowanych tablic przez PriorityQueue | Namespace-ready: wklejaj wewnątrz namespace { }</Description>
      <Author>bearbine</Author>
      <SnippetTypes>
        <SnippetType>Expansion</SnippetType>
      </SnippetTypes>
    </Header>
    <Snippet>
      <Code Language="csharp"><![CDATA[
using System;
using System.Collections.Generic;

public class ElementInfo
{
    public int Value;
    public int ArrayIndex;
    public int ElementIndex;

    public ElementInfo(int value, int arrayIndex, int elementIndex)
    {
        Value = value;
        ArrayIndex = arrayIndex;
        ElementIndex = elementIndex;
    }
}

class Program
{
    static List<int> MergeSortedArrays(int[][] arrays)
    {
        PriorityQueue<ElementInfo, int> pq = new PriorityQueue<ElementInfo, int>();
        List<int> result = new List<int>();

        for (int i = 0; i < arrays.Length; i++)
        {
            if (arrays[i].Length > 0)
            {
                ElementInfo element = new ElementInfo(arrays[i][0], i, 0);
                pq.Enqueue(element, element.Value);
            }
        }

        while (pq.Count > 0)
        {
            ElementInfo current = pq.Dequeue();
            result.Add(current.Value);

            int nextIndex = current.ElementIndex + 1;

            if (nextIndex < arrays[current.ArrayIndex].Length)
            {
                int nextValue = arrays[current.ArrayIndex][nextIndex];
                ElementInfo nextElement = new ElementInfo(nextValue, current.ArrayIndex, nextIndex);
                pq.Enqueue(nextElement, nextElement.Value);
            }
        }

        return result;
    }

    static void Main()
    {
        int[][] arrays =
        {
            new int[] { 1, 4, 7 },
            new int[] { 2, 5, 8 },
            new int[] { 0, 3, 9 }
        };

        Console.WriteLine(string.Join(" ", MergeSortedArrays(arrays)));
    }
}
]]></Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>
