<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <Title>Lab 5.7 - Stos tablicowy</Title>
      <Shortcut>alg_57_stos_tab</Shortcut>
      <Description>Stos LIFO na tablicy. Polskie nazwy klas, pól i metod.</Description>
      <Author>bearbine</Author>
      <SnippetTypes>
        <SnippetType>Expansion</SnippetType>
      </SnippetTypes>
    </Header>
    <Snippet>
      <Code Language="csharp"><![CDATA[
using System;

public class StosTablicowy
{
    private int[] elementy;
    private int gora;

    public StosTablicowy(int rozmiar)
    {
        elementy = new int[rozmiar];
        gora = -1;
    }

    public bool CzyPusta()
    {
        return gora == -1;
    }

    public void Dodaj(int wartosc)
    {
        if (gora == elementy.Length - 1)
        {
            Console.WriteLine("Stos jest pelny.");
            return;
        }

        gora++;
        elementy[gora] = wartosc;
    }

    public int Zdejmij()
    {
        if (CzyPusta())
        {
            Console.WriteLine("Stos jest pusty.");
            return -1;
        }

        int wartosc = elementy[gora];
        gora--;
        return wartosc;
    }

    public int Podejrzyj()
    {
        if (CzyPusta())
        {
            Console.WriteLine("Stos jest pusty.");
            return -1;
        }

        return elementy[gora];
    }
}

class Program
{
    static void Main()
    {
        StosTablicowy stos = new StosTablicowy(5);

        stos.Dodaj(10);
        stos.Dodaj(20);
        stos.Dodaj(30);

        Console.WriteLine(stos.Podejrzyj());
        Console.WriteLine(stos.Zdejmij());
        Console.WriteLine(stos.Zdejmij());
        Console.WriteLine(stos.Zdejmij());
    }
}
]]></Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>