<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <Title>Lab 5.7 - Stos tablica</Title>
      <Shortcut>alg_stos_tab_57</Shortcut>
      <Description>Stos LIFO zaimplementowany na tablicy | Namespace-ready: wklejaj wewnątrz namespace { }</Description>
      <Author>bearbine</Author>
      <SnippetTypes>
        <SnippetType>Expansion</SnippetType>
      </SnippetTypes>
    </Header>
    <Snippet>
      <Code Language="csharp"><![CDATA[
using System;

public class ArrayStack
{
    private int[] items;
    private int top;

    public ArrayStack(int size)
    {
        items = new int[size];
        top = -1;
    }

    public bool IsEmpty()
    {
        return top == -1;
    }

    public void Push(int value)
    {
        if (top == items.Length - 1)
        {
            Console.WriteLine("Stos jest pelny.");
            return;
        }

        top++;
        items[top] = value;
    }

    public int Pop()
    {
        if (IsEmpty())
        {
            Console.WriteLine("Stos jest pusty.");
            return -1;
        }

        int value = items[top];
        top--;
        return value;
    }

    public int Peek()
    {
        if (IsEmpty())
        {
            Console.WriteLine("Stos jest pusty.");
            return -1;
        }

        return items[top];
    }
}

class Program
{
    static void Main()
    {
        ArrayStack stack = new ArrayStack(5);

        stack.Push(10);
        stack.Push(20);
        stack.Push(30);

        Console.WriteLine(stack.Peek());
        Console.WriteLine(stack.Pop());
        Console.WriteLine(stack.Pop());
        Console.WriteLine(stack.Pop());
    }
}
]]></Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>
