<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <Title>Lab 5.7 - Stos lista</Title>
      <Shortcut>alg_stos_lista_57</Shortcut>
      <Description>Stos LIFO zaimplementowany na liście jednokierunkowej | Namespace-ready: wklejaj wewnątrz namespace { }</Description>
      <Author>bearbine</Author>
      <SnippetTypes>
        <SnippetType>Expansion</SnippetType>
      </SnippetTypes>
    </Header>
    <Snippet>
      <Code Language="csharp"><![CDATA[
using System;

public class LinkedStack
{
    private class Node
    {
        public int Value;
        public Node Next;

        public Node(int value)
        {
            Value = value;
            Next = null;
        }
    }

    private Node top;

    public bool IsEmpty()
    {
        return top == null;
    }

    public void Push(int value)
    {
        Node newNode = new Node(value);
        newNode.Next = top;
        top = newNode;
    }

    public int Pop()
    {
        if (IsEmpty())
        {
            Console.WriteLine("Stos jest pusty.");
            return -1;
        }

        int value = top.Value;
        top = top.Next;
        return value;
    }

    public int Peek()
    {
        if (IsEmpty())
        {
            Console.WriteLine("Stos jest pusty.");
            return -1;
        }

        return top.Value;
    }
}

class Program
{
    static void Main()
    {
        LinkedStack stack = new LinkedStack();

        stack.Push(10);
        stack.Push(20);
        stack.Push(30);

        Console.WriteLine(stack.Peek());
        Console.WriteLine(stack.Pop());
        Console.WriteLine(stack.Pop());
        Console.WriteLine(stack.Pop());
    }
}
]]></Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>
