<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <Title>Lab 5.7 - Stos tablicowy i listowy</Title>
      <Shortcut>alg_57_stos</Shortcut>
      <Description>Dwie wersje stosu: tablicowa i listowa. Polskie nazwy klas, pól i metod.</Description>
      <Author>bearbine</Author>
      <SnippetTypes>
        <SnippetType>Expansion</SnippetType>
      </SnippetTypes>
    </Header>
    <Snippet>
      <Code Language="csharp"><![CDATA[
using System;

public class StosTablicowy
{
    private int[] elementy;
    private int gora;

    public StosTablicowy(int rozmiar)
    {
        elementy = new int[rozmiar];
        gora = -1;
    }

    public bool CzyPusta()
    {
        return gora == -1;
    }

    public void Dodaj(int wartosc)
    {
        if (gora == elementy.Length - 1)
        {
            Console.WriteLine("Stos tablicowy jest pelny.");
            return;
        }

        gora++;
        elementy[gora] = wartosc;
    }

    public int Zdejmij()
    {
        if (CzyPusta())
        {
            Console.WriteLine("Stos tablicowy jest pusty.");
            return -1;
        }

        int wartosc = elementy[gora];
        gora--;
        return wartosc;
    }

    public int Podejrzyj()
    {
        if (CzyPusta())
        {
            Console.WriteLine("Stos tablicowy jest pusty.");
            return -1;
        }

        return elementy[gora];
    }
}

public class StosListowy
{
    private class Wezel
    {
        public int Wartosc;
        public Wezel Nastepny;

        public Wezel(int wartosc)
        {
            Wartosc = wartosc;
            Nastepny = null;
        }
    }

    private Wezel gora;

    public bool CzyPusta()
    {
        return gora == null;
    }

    public void Dodaj(int wartosc)
    {
        Wezel newNode = new Wezel(wartosc);
        newNode.Nastepny = gora;
        gora = newNode;
    }

    public int Zdejmij()
    {
        if (CzyPusta())
        {
            Console.WriteLine("Stos listowy jest pusty.");
            return -1;
        }

        int wartosc = gora.Wartosc;
        gora = gora.Nastepny;
        return wartosc;
    }

    public int Podejrzyj()
    {
        if (CzyPusta())
        {
            Console.WriteLine("Stos listowy jest pusty.");
            return -1;
        }

        return gora.Wartosc;
    }
}

public class Program
{
    public static void Main()
    {
        StosTablicowy stosTab = new StosTablicowy(5);
        stosTab.Dodaj(1);
        stosTab.Dodaj(2);
        stosTab.Dodaj(3);

        Console.WriteLine("STOS NA TABLICY");
        Console.WriteLine("Podejrzyj: " + stosTab.Podejrzyj());
        while (!stosTab.CzyPusta())
        {
            Console.WriteLine("Zdejmij: " + stosTab.Zdejmij());
        }

        StosListowy stosLista = new StosListowy();
        stosLista.Dodaj(1);
        stosLista.Dodaj(2);
        stosLista.Dodaj(3);

        Console.WriteLine("\nSTOS NA LISCIE");
        Console.WriteLine("Podejrzyj: " + stosLista.Podejrzyj());
        while (!stosLista.CzyPusta())
        {
            Console.WriteLine("Zdejmij: " + stosLista.Zdejmij());
        }
    }
}
]]></Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>